header{
	background-image: url(logo2.png);
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: initial;
	border-bottom: solid green;
	padding-bottom: 3em;
	margin-top: -1em;
}

#nav{
	text-align: right;
	margin-right: 1em;
	margin-top: 1em;
	font-size: 20px;	
}

a{
	padding: 0.5em;
}
body{
	font-style: Arial;
	line-height: 1.2em;
	font-size: 1.5em;
	text-align: justify;
	padding: 2em;
	background: linear-gradient(85deg, seagreen,white);
	color: white;

}

#div0{
	border: solid;
	border-style: ridge;
	border-color: white;
	padding-bottom: 15em;
	padding-top: 25px;
	margin-top: .5em;
	background-image: url(BUNN-200.jpg);
	background-size: 100%;
	background-position: right;
	background-repeat: no-repeat;
}

h1{
	font-weight: bolder;
	font-size: 40px;
	color: seagreen;
	letter-spacing: 20px;
	margin: 2em 7em 0 1em;
	background-color: rgba(255,255,255, 0.85);
	padding: 0.5em;
	text-shadow: .1em .1em .2em silver ;
	font-family: "Bell MT";
}


 
#div2{
	background-color: rgba(0,100,0, 1.0);
	box-sizing: border-box;
	padding: 2em 3em;
	/*background-image: url(BUNNlogo.jpg);*/
	background-size: 60px;
	background-repeat: no-repeat;
	color: white;
	margin-top: 0.1em;
}

#Gallery img{
	margin-top: 5px;
}
#impact{
	background-color: green;
}

.founders{
	border-radius: 300px;
	outline-color: green;
	outline-style: solid;
	outline-offset: 2.5px;
	margin-right: 50px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.class{
	background-color: rgba(0,128,0, 0.9);
}

#founders2{
	outline: solid;
	outline-color: white;
}

#Gallery{
	margin: 15px 7px 12px 4px;
	outline: solid;
	outline-color: seagreen;
	outline-offset: 2px;

}

footer{
	background-color: seagreen;
	margin-top: 15px;
}

nav div{
	text-align: center;
}


a:focus {
	color: mediumblue;
}